<a href="https://colab.research.google.com/github/PaletteofDesign/sales_predictions/blob/main/sales_predicitons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd

filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [65]:
df.duplicated().sum()

0

In [66]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [67]:
df.fillna(0, inplace=True)

In [68]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [69]:
 df.sort_values(by= ['Item_Outlet_Sales'], ascending=False).head(10)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7188           NCE42        0.000  ...  Supermarket Type3         13086.9648
5223           FDQ19        0.000  ...  Supermarket Type3         12117.5600
1450           FDZ20        0.000  ...  Supermarket Type3         11445.1020
4349           FDP33        0.000  ...  Supermarket Type3         10993.6896
6541           FDI50        0.000  ...  Supermarket Type3         10306.5840
4888           FDF39       14.850  ...  Supermarket Type1         10256.6490
1009           FDU14        0.000  ...  Supermarket Type3         10236.6750
7191           NCH18        0.000  ...  Supermarket Type3         10072.8882
4289           NCM05        6.825  ...  Supermarket Type1          9779.9362
7752           FDC17        0.000  ...  Supermarket Type3          9678.0688

[10 rows x 12 columns]

In [70]:
df.duplicated('Item_Identifier').sum()

6964

In [71]:
df.sort_values(by= ['Item_Visibility'], ascending=False).head(10)

     Item_Identifier  Item_Weight  ...    Outlet_Type  Item_Outlet_Sales
854            FDU13         0.00  ...  Grocery Store           588.5672
3750           NCZ18         0.00  ...  Grocery Store           761.0094
1805           FDJ56         0.00  ...  Grocery Store           199.7400
7250           FDT24        12.35  ...  Grocery Store           154.4656
2855           NCE31         7.67  ...  Grocery Store           138.4864
4382           FDG32         0.00  ...  Grocery Store           889.5088
7603           DRF01         0.00  ...  Grocery Store           291.6204
6622           FDI32         0.00  ...  Grocery Store           460.7336
3474           FDS12         0.00  ...  Grocery Store           755.0172
5150           FDR14         0.00  ...  Grocery Store           107.8596

[10 rows x 12 columns]