<a href="https://colab.research.google.com/github/PaletteofDesign/sales_predictions/blob/main/sales_predicitons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [39]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     10.650590  ...        2181.288914
std       6.431899  ...        1706.499616
min       0.000000  ...          33.290000
25%       6.650000  ...         834.247400
50%      11.000000  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [2]:
df.duplicated().sum()

0

In [3]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [4]:
df.fillna(0, inplace=True)

In [5]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [6]:
 df.sort_values(by= ['Item_Outlet_Sales'], ascending=False).head(10)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7188           NCE42        0.000  ...  Supermarket Type3         13086.9648
5223           FDQ19        0.000  ...  Supermarket Type3         12117.5600
1450           FDZ20        0.000  ...  Supermarket Type3         11445.1020
4349           FDP33        0.000  ...  Supermarket Type3         10993.6896
6541           FDI50        0.000  ...  Supermarket Type3         10306.5840
4888           FDF39       14.850  ...  Supermarket Type1         10256.6490
1009           FDU14        0.000  ...  Supermarket Type3         10236.6750
7191           NCH18        0.000  ...  Supermarket Type3         10072.8882
4289           NCM05        6.825  ...  Supermarket Type1          9779.9362
7752           FDC17        0.000  ...  Supermarket Type3          9678.0688

[10 rows x 12 columns]

In [11]:
df.duplicated('Item_Identifier').sum()

6964

In [7]:
df.sort_values(by= ['Item_Visibility'], ascending=False).head(10)

     Item_Identifier  Item_Weight  ...    Outlet_Type  Item_Outlet_Sales
854            FDU13         0.00  ...  Grocery Store           588.5672
3750           NCZ18         0.00  ...  Grocery Store           761.0094
1805           FDJ56         0.00  ...  Grocery Store           199.7400
7250           FDT24        12.35  ...  Grocery Store           154.4656
2855           NCE31         7.67  ...  Grocery Store           138.4864
4382           FDG32         0.00  ...  Grocery Store           889.5088
7603           DRF01         0.00  ...  Grocery Store           291.6204
6622           FDI32         0.00  ...  Grocery Store           460.7336
3474           FDS12         0.00  ...  Grocery Store           755.0172
5150           FDR14         0.00  ...  Grocery Store           107.8596

[10 rows x 12 columns]

In [8]:
df['Item_Outlet_Sales'].min()

33.29

In [9]:
df['Item_Outlet_Sales'].max()

13086.9648

In [10]:
df['Item_Outlet_Sales'].mean()

2181.2889135750365

In [25]:
df.groupby(['Item_Identifier']).mean()

                 Item_Weight  ...  Item_Outlet_Sales
Item_Identifier               ...
DRA12              11.600000  ...        1843.600200
DRA24              13.821429  ...        2246.218971
DRA59               6.202500  ...        2614.430150
DRB01               4.926667  ...        1518.024000
DRB13               6.115000  ...        2428.838400
...                      ...  ...                ...
NCZ30               5.648571  ...        1807.647000
NCZ41              19.850000  ...        1827.487840
NCZ42              10.500000  ...        3839.801760
NCZ53               7.680000  ...        3014.742400
NCZ54              10.464286  ...        3249.104000

[1559 rows x 5 columns]

In [38]:
df.loc[:,['Item_Identifier', 'Item_Outlet_Sales']].groupby('Item_Identifier').mean().sort_values(by='Item_Outlet_Sales', ascending=False)

                 Item_Outlet_Sales
Item_Identifier
FDR45                  6035.310550
NCL42                  5962.017067
FDU55                  5922.457450
FDZ50                  5512.824000
DRK23                  5464.886400
...                            ...
NCN29                   311.061760
FDX10                   291.121050
FDQ04                   261.437467
FDQ60                   120.509800
NCR42                   110.966667

[1559 rows x 1 columns]

In [40]:
df.nunique()

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64